<html>
<head>
</head>
<body>
	


			<style>
				.eqp {
					width: 200px;
					height: 200px;
				}
				.equipmet_holder {
					display: flex;
				}


				.info{
					position:fixed;
					top:0;
					left:350px;
				}

				
			</style>


			<section id="equipmet_holder" class="equipmet_holder">
				<div>
					<img src="http://127.0.0.1:8000/images/equipment/{{eqp.image}}" class="eqp">
				</div>
				<div class="info">
					<h2>numero
						{{eqp.id}}</h2>
					<h2>type
						{{ eqp.type }}</h2>
					<h2>mark
						{{ eqp.nom }}</h2>
					<h2>model
						{{ eqp.model }}</h2>
					<h2>ajouter la date
						{{ eqp.getDateAjoute() ? eqp.getDateAjoute()|date('Y-m-d') : 'N/A' }}</h2>
				</div>


			</section>
		
		</body>
</html>