{% extends 'dashboard/index.html.twig' %}


{% block search_bar %}
	{% include 'employee/searchbar.html.twig' %}
{% endblock %}


{% block section %}

	<div id="employee" class="z-index-1">
		{% if count is defined %}
			<div>

				<p>le nombre d'employés trouvé est
					{{count}}</p>

			</div>
		{% endif %}

		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th scope="col" class="text-center" style="width:10vw;">photo</th>
					<th scope="col" class="text-center" style="width:10vw;">nom</th>
					<th scope="col" class="text-center" style="width:10vw;">prenom</th>
					<th scope="col" class="text-center" style="width:10vw;">telephone</th>
					<th scope="col" class="text-center" style="width:10vw;">documents</th>
					<th scope="col" class="text-center" style="width:10vw;">date de creetion</th>
					<th scope="col" class="text-center" style="width:10vw;"></th>
				</tr>
			</thead>
		</table>
		<div class="scrollable_Y" style="height:80vh;">
			<table class="table table-striped">
				<tbody>
					{% for Emp in Emps %}
						<tr>
							<th scope="row" class="text-center" style="width:10vw;">
								<img src="{{ asset('images/employees/profile_photo/' ~ Emp.getProfileImage()) }}" alt="" class="equipment_image rounded-circle">

							</th>
							<td class="text-center" style="width:10vw;">{{Emp.name}}</td>
							<td class="text-center" style="width:10vw;">{{Emp.lastname}}</td>
							<td class="text-center" style="width:10vw;">{{Emp.telephone}}</td>
							<td class="text-center" style="width:10vw;"><div>
									<button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
										<i class="far fa-file-pdf fa-xl"></i>
										<span>Document</span>
										<i class="fa fa-caret-down"></i>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										{% if Emp.getBirthCerteficat() %}

											<li onclick="display_pdf('{{Emp.getBirthCerteficat()}}','N')">
												<p class="dropdown-item">act de naissance</p>
											</li>
										{% endif %}
										{% if  Emp.getResidence() %}
											<li onclick="display_pdf('{{Emp.getResidence()}}','R')">
												<p class="dropdown-item">residence</p>
											</li>
										{% endif %}
									</ul>
								</div></td>
							<td class="text-center" style="width:10vw;">{{ Emp.getDateDeCreetion() ? Emp.getDateDeCreetion()|date('Y-m-d') : 'N/A' }}</td>
							<td class="text-center" style="width:10vw;">

								<div>
									<button type="button" class="btn btn-outline-primary" onclick="document.getElementById('print{{Emp.id}}').click()">
										<i class="fas fa-print fa-xl" style="color: #12449b;"></i>
										<a href="{{ path('generatePdfEquipment', { 'id':Emp.id}) }}" id="print{{Emp.id}}" class="d-none"></a>
									</button>
									<button type="button" class="btn btn-outline-danger" onclick="document.getElementById('link_to_delet{{Emp.id}}').click()">
										<i class="fas fa-trash fa-xl" style="color: #ff5233;"></i>
										<a href="{{ path('SupremEmploiyee', { 'id':Emp.id}) }}" id="link_to_delet{{Emp.id}}" class="d-none"></a>
									</button>

									<button type="button" class="btn btn-outline-success" onclick="document.getElementById('link_to_update{{Emp.id}}').click()">
										<i class="fa-solid fa-pen fa-xl" style="color: #63E6BE;"></i>
										<a href="{{ path('UpdateEmployee', { 'id':Emp.id}) }}" id="link_to_update{{Emp.id}}" class="d-none"></a>
									</button>
								</div>
								
								
							</td>
						</tr>
					{% endfor %}
				</tbody>


			</table>

		</div>
	</div>
{% endblock %}
{% block pdf_displayer %}
	<div class="display_pdf" id="pdf_displayer">
		<embed id="pdf_holder" src="" type="application/pdf" style="width:80vw;height:80vh;">
	</div>
{% endblock %}

{% block jscript %}
	<script src="{{asset('js/display_document.js')}}"></script>
{% endblock %}
