<nav id="sidebar">
	<div class="p-4 pt-5">
		<img src="{{asset('images/logo/Booki.png')}}" class="mb-5">
		<button id="menu_holder" class="d-none"></button>
		<ul class="list-unstyled components mb-5" >
			<li>
				<a href="/dashboard">Home</a>
			</li>
			<li id="notefecation_button">
				
					{% if app.user.countNTF is not null and app.user.countNTF > 0 %}
						
							<a href="{{path('notefecation', { 'count':app.user.countNTF})}}"><strong style="color:red;" id="notefecation_title">{{ app.user.countNTF }} Nontefecation</strong></a> 
								
					{% else %}
						<a href="{{path('notefecation', { 'count':app.user.countNTF})}}" id="notefecation_title">Nontefecation</a>
					{% endif %}
					
				
			</li>
			<li>
				<a href="#pageEmployee" data-toggle="collapse" class="dropdown-toggle">Employee</a>
				<ul class="collapse list-unstyled" id="pageEmployee">
					<li>
						<a href="{{path('employee')}}">List Employee</a>
					</li>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
						<li>
							<a href="{{path('AjouteEmploiyee')}}">Ajoute Employee</a>
						</li>
					{% endif %}

				</ul>
			</li>

			<li>
				<a href="#pageMaterial" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Material</a>
				<ul class="collapse list-unstyled" id="pageMaterial">
					<li>
						<a href="{{path('equipment')}}">List Material</a>
					</li>
					{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{path('AjouteEquipment')}}">Ajoute Material</a>
						</li>
					{% endif %}
					<!--<li>
																				                    <a href="">List Types des materials </a>
																				                </li>
																				                <li>
																				                    <a href="">Ajoute Type</a>
																				                </li>
																				              -->
				</ul>
			</li>
			<li>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<a href="#pageUtlisateurs" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Utlisateurs</a>

					<ul class="collapse list-unstyled" id="pageUtlisateurs">
						<li>
							<a href="{{path('display_users_list')}}">List utilisateur</a>
						</li>
						<li>
							<a href="{{path('user_add_form')}}">Ajoute utilisateur</a>
						</li>

					</ul>
				{% endif %}
			</li>
			<li>
				<a href="/logout">Déconnecter</a>
			</li>
		</ul>

		<div class="footer">
			<p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>
					document.write(new Date().getFullYear());
				</script>
				All rights reserved | This template is made with
				<i class="icon-heart" aria-hidden="true"></i>
				by
				<a href="https://colorlib.com" target="_blank">Colorlib.com</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>

	</div>
</nav>
